.blog-post__header {
	text-align: left;
	margin: var(--token-spacing-md) 0 var(--token-spacing-xxl);
}

.blog-post__metadata {
	color: var(--color-text-muted);
	font-family: var(--token-font-family-sans-serif);
	font-size: var(--token-font-size-xs);
	letter-spacing: 0.04375rem;
	margin: 0 0 var(--token-spacing-xxs);
	text-transform: uppercase;
}
