---
title: Blog posts
eleventyNavigation:
  key: Blog
  order: 2
---

{# Capture the CSS content as a Nunjucks variable and feed it through to the cssmin filter to minify it #}
{% set css %}
{% include "styles/archive.css" %}
{% endset %}
<style>
	{{css | cssmin | safe}}
</style>

<p>Fresh content sorted by date, so you'll always see what's new at the top. {# Browse by categories/tags to explore topics you care about. #} You can also subscribe to the Atom feed for automatic updates.</p>

<ul class="archive__list">
	{%- for post in collections.posts | reverse %}
		<li class="archive__list-item">
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			<span class="archive__list-item__date">(<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLL yyyy") }}</time>)</span>
			{% if post.data.draft %}
				<span aria-label="Draft">✍️</span>
			{% endif %}
		</li>
	{%- endfor %}
</ul>
