---
title: Blog posts
eleventyNavigation:
  key: Blog
  order: 2
---

{# Capture the CSS content as a Nunjucks variable and feed it through to the cssmin filter to minify it #}
{% set css %}
{% include "styles/archive.css" %}
{% endset %}
<style>
	{{css | cssmin | safe}}
</style>

<p>Fresh content sorted by date, so you'll always see what's new at the top. {# Browse by categories/tags to explore topics you care about. #} You can also subscribe to the Atom feed for automatic updates.</p>

<ul reversed class="archive__list">
	{%- for post in collections.posts | reverse %}
		<li class="archive__list-item">
			<time class="archive__list-item__date" datetime="{{ post.date | htmlDateString }}">
				{{ post.date | readableDate("dd LLL yyyy") }}
			</time>
			<a href="{{ post.url }}">{{ post.data.title }}</a>
			{% if post.data.draft %}
				{#
					Not adding a class as this is for local dev only and
					there's no point in serving a new class definition to users in prod.
				#}
				<span style="color:var(--token-color-red);font-weight:var(--token-font-weight-bold)"> (draft)</span>
			{% endif %}
		</li>
	{%- endfor %}
</ul>
