.container {
    composes: largeContainer from '../../styles/mixins.css';
    margin: 64px auto;
    padding: 0 30px;
    text-align: center;
}

.title {
    composes: title from '../../styles/mixins.css';
}

.content {
    composes: content from '../../styles/mixins.css';
    margin: 15px 0 0;
}

.link {
    composes: link from '../../styles/mixins.css';
}
