.container {
    padding: 0 50px;
    text-align: center;
}

.title {
    composes: title from '../../styles/mixins.css';
}

.content {
    composes: content from '../../styles/mixins.css';
    margin: 15px 0 0;
}

.link {
    composes: link from '../../styles/mixins.css';
}

.avatar {
    display: none;
}

@media (min-width: 1024px) {
    .container {
        composes: largeContainer from '../../styles/mixins.css';
        padding: 0;
    }

    .avatar {
        border-radius: 100%;
        display: inline-block;
        margin-bottom: 30px;
        width: 120px;
    }
}
