.container {
    padding: 100px 0;
    text-align: center;
}

.title {
    composes: title from '../../styles/mixins.css';
    font-size: 28px;
}

.content {
    composes: content from '../../styles/mixins.css';
    margin: 10px 0 0;
}

.image {
    border: 1px solid #bbb;
    border-radius: 3px;
    max-width: 400px;
    padding: 3px;
    width: 100%;
}

.link {
    composes: content link from '../../styles/mixins.css';
}
