.header {
    background-color: #fafafac9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
}

.headerContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;
    width: 100%;
}

.link {
    align-items: center;
    color: #333;
    display: flex;
    composes: sansSerif from '../../styles/mixins.css';
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.navigationItem {
    display: inline-block;
}

.navigationItem:not(:last-child) {
    margin-right: 30px;
}

.navigationLink {
    composes: bareLink from '../../styles/mixins.css';
    composes: sansSerif from '../../styles/mixins.css';
    font-size: 18px;
}

.title {
    display: none;
}

.avatar {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.content {
    margin: 50px auto 75px;
    max-width: 832px;
    padding: 0 25px;
}

@media (min-width: 768px) {
    .headerContent {
        flex-direction: row;
        justify-content: space-between;
        max-width: 832px;
    }

    .title {
        display: inline-block;
    }

    .avatar {
        margin-right: 15px;
    }
}
