.container {
    align-items: center;
    background-color: #fafafac9;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    justify-content: center;
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.listItem {
    display: inline-block;
}

.listItem:not(:last-child) {
    margin-right: 24px;
}

.link {
    composes: defaultFocusState from '../../styles/mixins.css';
    display: inline-block;
    padding: 6px;
}

.icon {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    width: 25px;
}
