.container {
    padding: 0 50px;
}

.post:not(:last-child) {
    margin-bottom: 60px;
}

.title {
    composes: title from '../../styles/mixins.css';
    font-size: 28px;
}

.spoiler {
    composes: content from '../../styles/mixins.css';
    margin: 10px 0 0;
}

.date {
    color: #6a7482;
    composes: sansSerif from '../../styles/mixins.css';
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 10px;
}

@media (min-width: 1024px) {
    .container {
        composes: smallContainer from '../../styles/mixins.css';
        padding: 0;
    }
}
