---
layout: layouts/base.njk
---

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	"headline": {{ title | dump }},
	"datePublished": "{{ date | htmlDateString }}",
	"dateModified": "{{ date | htmlDateString }}",
	"description": {{ (description or "") | dump }},
	"url": "{{ metadata.url }}{{ page.url }}",
	"author": {
		"@type": "Person",
		"name": {{ metadata.author.name | dump }},
		"url": {{ metadata.author.url | dump }}
	}
}
</script>

{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle. #}
{# Capture the CSS content as a Nunjucks variable and feed it through to the cssmin filter to minify it. #}
{% set css %}
{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
{% include "styles/blog-post.css" %}
{% endset %}
<style>
	{{css | cssmin | safe}}
</style>

<article>
	<header class="blog-post__header">
		<h1 class="common-main-title">{{ title }}</h1>
		<div class="blog-post__metadata">
			<time datetime="{{ date | htmlDateString }}" class="blog-post__metadata__date">
				{{ date | readableDate }}
			</time>
			<span class="blog-post__metadata__tags">
				{{ tags | readableTags | join(", ") }}
			</span>
		</div>
	</header>

	<div class="common-main-content">
		{{ content | safe }}
	</div>
</article>
