---
layout: layouts/base.njk
---

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	"headline": {{ title | dump | safe }},
	"datePublished": "{{ date | htmlDateString }}",
	{%- if description %}
	"description": {{ description | dump | safe }},
	{%- endif %}
	"url": "{{ metadata.url }}{{ page.url }}",
	"author": {
		"@type": "Person",
		"name": {{ metadata.author.name | dump | safe }},
		"url": {{ metadata.author.url | dump | safe }}
	}
}
</script>

{# Only include the syntax highlighter and KaTeX CSS on posts whose rendered content has code blocks or maths. #}
{% css %}
{% if content.indexOf('class="language-') != -1 %}
{% include "styles/prism-github.css" %}
{% endif %}
{% if content.indexOf('class="katex') != -1 %}
{% include "styles/katex.css" %}
{% endif %}
{% include "styles/blog-post.css" %}
{% endcss %}

<article class="blog-post">
	<header class="blog-post__header">
		<h1 class="common-main-title">{{ title }}</h1>
		<div class="blog-post__metadata">
			Published on
			<time datetime="{{ date | htmlDateString }}">
				{{ date | readableDate({ day: "numeric", month: "long", year: "numeric" }) }}
			</time>
			in
			{{ tags | readableTags | join(", ") }}
		</div>
	</header>

	<div class="common-main-content">
		{{ content | safe }}
	</div>
</article>
