---
layout: layouts/base.njk
---

{% set css %}
{% include "styles/prism-github.css" %}
{% include "styles/katex.css" %}
{% include "styles/styleguide.css" %}
{% endset %}
<style>
	{{css | cssmin | safe}}
</style>

<h1 class="common-main-title">
	{{ heading or title }}
</h1>

<div class="common-main-content">
	{{ content | safe }}
</div>
