.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.listItem {
    composes: subtitle from '../../styles/mixins.css';
    display: inline-flex;
    margin-bottom: 16px;
}

.listItem:not(:last-child) {
    margin-right: 24px;
}

.icon {
    height: 20px;
    margin-right: 8px;
    width: 20px;
}

@media (min-width: 768px) {
    .list {
        align-items: center;
        display: flex;
    }

    .listItem {
        align-items: center;
        display: inline-flex;
        margin-bottom: 0;
    }

    .listItem:not(:last-child) {
        margin-right: 40px;
    }

    .icon {
        margin-right: 10px;
    }
}
